<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Produccion" connectionString="Data Source=10.3.1.24;Initial Catalog=dbProduccion;User ID=sa;Password=lobo6flor" />
    <add name="Maestros" connectionString="Data Source=10.3.1.24;Initial Catalog=dbmaestros;User ID=sa;Password=lobo6flor" />
    <add name="Vehiculos" connectionString="Data Source=10.3.1.24;Initial Catalog=dbVehiculos;User ID=sa;Password=lobo6flor;Connection Timeout=30" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IServicioVehiculos" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://icolcali28.icoltrans.com.co:4520/Icoltrans.Sigelo.Web.Host.Copy/ServicioVehiculos.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioVehiculos"
        contract="ControlSeguimientoWS.IServicioVehiculos" name="NetTcpBinding_IServicioVehiculos">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>